%h2 Sprint yyyy-ss

%ul
  %li= link_to "Grooming", "/notes/sprints/yyyy-ss/grooming"
  %li= link_to "Planning", "/notes/sprints/yyyy-ss/planning"
  %li= link_to "Props", "/notes/sprints/yyyy-ss/props"
  %li= link_to "Retro", "/notes/sprints/yyyy-ss/retro"

%h3 Week 1

%ul
  %li= link_to "Monday", "/notes/sprints/yyyy-ss/week-1/1-monday"
  %li= link_to "Tuesday", "/notes/sprints/yyyy-ss/week-1/2-tuesday"
  %li= link_to "Wednesday", "/notes/sprints/yyyy-ss/week-1/3-wednesday"
  %li= link_to "Thursday", "/notes/sprints/yyyy-ss/week-1/4-thursday"
  %li= link_to "Friday", "/notes/sprints/yyyy-ss/week-1/5-friday"
  %li= link_to "Knowledge Share", "/notes/sprints/yyyy-ss/week-1/knowledge-share"

%h3 Week 2

%ul
  %li= link_to "Monday", "/notes/sprints/yyyy-ss/week-2/1-monday"
  %li= link_to "Tuesday", "/notes/sprints/yyyy-ss/week-2/2-tuesday"
  %li= link_to "Wednesday", "/notes/sprints/yyyy-ss/week-2/3-wednesday"
  %li= link_to "Thursday", "/notes/sprints/yyyy-ss/week-2/4-thursday"
  %li= link_to "Friday", "/notes/sprints/yyyy-ss/week-2/5-friday"
  %li= link_to "Knowledge Share", "/notes/sprints/yyyy-ss/week-2/knowledge-share"
